h2{
text-align:center;
}
.card1{
    text-align: center;
    padding-bottom:20px;

}
    #card-container{
    overflow-x: auto;
}
#card-container table{
    border-collapse: collapse;
    width:100%;
    table-layout:fixed;
    white-space: nowrap;
}
#card-container table thead{
    font-weight: 700;
}
#card-container table thead td{
    background:#fd8c66;
    color:#fff;
    border:none;
    padding:6px 0;
}
#card-container table td{
    border:1px solid #b6b3b3;
    text-align: center;
}
#card-container table td:nth-child(1){
    width:100px;
}
#card-container table td:nth-child(2),
#card-container table td:nth-child(3){
    width:200px;
}
#card-container table td:nth-child(4),
#card-container table td:nth-child(5),
#card-container table td:nth-child(6){
    width:170px;
}
#card-container table tbody img{
    width:100%;
    height:100%;
    object-fit: cover;
}
#card-container table tbody i{
    color:#8d8c89;
}
#card-bottom{
    margin-top:10px;
}
#card-bottom .coupon >div,
#card-bottom .total >div{
    border: 1px solid #b6b3b3;

}

#card-bottom .coupon h5,
#card-bottom .total h5
{
    background:chocolate;
    color:#fff;
    border:none;
    padding:6px 12px;
    font-weight:700;


}
#card-bottom .coupon p,
#card-bottom .coupon input{
    padding:0 12px ;

}
#card-bottom .coupon input{
    height:44px;
    margin:0 0 20px 12px;

}
#card-bottom .coupon input
#card-bottom .total div>div{
    padding:0 12px;
}
 #card-bottom .total h6{
color:#2a2a2a;


}
.d-flex{
    margin-right:20px;
    margin-left:10px;
}
#card-bottom .coupon button{
    margin-left:10px;
background-color:green;
color:white;
}
.second-hr{
    background:#b8b7b3;
      width:100%;
    height:1px;
}
#card-bottom .total div>button{
    margin:0 12px 20px 0;
    display:flex;
    justify-content: flex-end;
    margin-left:270px;
background-color:green;
color:white;
}
